@model IEnumerable<GoldStreet.Cuentas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaApertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaApertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CuentaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CuentaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CuentaID })
        </td>
    </tr>
}

</table>
